asst1/prog6_kmeans/data.dat filter=lfs diff=lfs merge=lfs -text
ispc-v1.21.0-linux/bin/ispc filter=lfs diff=lfs merge=lfs -text
ispc-v1.21.0-linux/lib64/libispcrt.so filter=lfs diff=lfs merge=lfs -text
